/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 08-ene-2025, 10:22:27
    Author     : Lucas
*/




/*-----   CABECERA +++ HEADER ++ -----*/


/*-----   CABECERA +++ HEADER ++ -----*/
/*mensajes*/
.mensaje{
    
    border: 3px solid #7e9f4c;
    padding: 25px 50px;
    margin: 20px 100px;
    background: #d6f9a1;
    font-size: 1.3em;
    font-family: sans-serif;
    box-shadow: 5px 5px #136e13;
    color: #083008;
}

.publicarLibro{
    display: flex;
    flex-direction: column;
    border:1px solid burlywood;

}
.publicarLibro>div{
    margin:5px auto;
}
.publicarLibro textarea{
    width: 100%;
    
}



/*libros------------------------------------------------------------------*/

/* portada*/





.formularioBusqueda{
    display: flex;
    align-items: center;
}
.formularioBusqueda input{
    width: 100%; 
    padding:5px;
    margin:15px auto;
}
/*configuracion de mi perfil*/
.acciones_usuario
{
    border: 1px solid black;
    padding-bottom: 50px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;    
}
.acciones_usuario div{
      background: aquamarine;
    color:black;
    box-shadow: 3px 3px yellow;
    text-decoration: none;
    padding:5px 10px;
    margin:0 10px;
    transition: 0.5s all ease;
       
    
}

.acciones_usuario div:hover{
    background: yellow;
    color:black;
    box-shadow: 0px 0px yellow;
    text-decoration: none;
    padding:5px 10px;
    margin:0 10px;
    cursor: pointer;
    outline:1px solid black;
    animation: agitar  ease 0.5s;
    animation-iteration-count: 10;
    
}
.acciones_usuario div a{
    text-decoration: none;
    color:black
}
@keyframes agitar {
  0% {
transform: rotate(0deg)
}
  33% {
transform: rotate(25deg)
}
  66% {
transform: rotate(-25deg)
}
  100% {
transform: rotate(0deg)
}
}





/*boton que muestra mis publicaciones*/


/* CSS */


/*--------------------------------------------------------------    DETALLES DE LIBRO --------------------------------------------------------------*/



/*--------------------------------------------------------------    DETALLES DE LIBRO FIN --------------------------------------------------------------*/

/*formulario de busqueda*/
.busqueda_libros{
    margin:1% 0;
}
.busqueda_libros form{
    background: none;
    padding:0;
    margin:0 auto;
}
.busqueda_libros form input{
    width: 100%;
}

.busqueda_autor form{
    padding: 5px 15px;
    background: none;
}
.busqueda_autor form input{
    width: 200px;
}

/*estilos para tablas FIN*/

/*formulario busqueda pedidos FIN*/

/*------------------------------------ estilos de interacciones ------------------------------------*/

/*-----------------------------estilos de interacciones FIN ------------------------------------*/



/*busqueda libros admin*/ 
.form_busqueda_libro_admin form{
    background: none !important;
    box-shadow: none;
    margin:0 auto;
    margin-bottom: 0px;
}
/*busqueda libros admin FIN*/ 
/*estilos de ADMINISTRADOR FIN*/

/*form publicar libro archivos -----------------------------------------------------------------*/


/*form publicar libro archivos FIN-----------------------------------------------------------------*/
/*estilos relacionados con autor*/


/*----------------------------------------- detalles del autor -----------------------------------------*/


/* ----------------------------------------- detalles del autor FIN -----------------------------------------*/
/************************************************************* autores *************************************************************/

/*estilos libro*/
/************************************************************* autores FIN *************************************************************/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++EStadisticas administracio +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.estadisticas_contenido
{
   
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++EStadisticas administracio FIN +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/




/*+++++++++++++++++++++++ ver pedidos usuario +++++++++++++++++++++++*/

/*+++++++++++++++++++++++ ver pedidos usuario FIN +++++++++++++++++++++++*/ 
/*++++++++++++++++++++++++++++++++++++++++++++++ COOKIES ++++++++++++++++++++++++++++++++++++++++++++++*/

/*++++++++++++++++++++++++++++++++++++++++++++++ COOKIES Fin ++++++++++++++++++++++++++++++++++++++++++++++*/