/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 08-ene-2025, 10:22:27
    Author     : Lucas
*/
*{
    padding:0px;
    margin:0px;
}
body{
   font-family: "Lato", serif;
   background-image: url("../image/fondo.png");
   background-position: center;
   background-size: contain;
   background-attachment: fixed;
    height: 100%;
    margin: 0;
   /*height: 100vh;*/
}
/*main*/
main{
   margin-top: 200px;
   position: relative;
   min-height: 100%;
   display:flex;
   flex-direction: column;
   justify-content: center;
   height: 100%;
  
}
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
footer nav{
    background: none;
}

footer nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

footer nav li {
  margin: 0 10px;
}
footer nav ul li a
{
   color:#eee;
}
footer nav ul li a:hover{
    color:#ffff66;
    cursor:pointer;
}

#perfil{
    transition: 0.5s;
}
#perfil:hover{

    background: #F44336;
    color: #FFC107;
    transform: perspective(150px) skewX(5deg) rotateX(360deg);
}


.mensaje{
    background: greenyellow;
    color:yellow;
    padding: 10px auto;
    font-family:'Arial';
}
/*-----   CABECERA +++ HEADER ++ -----*/

header{
    padding:80px auto;
    margin-bottom: 100px;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    position: fixed;
    width: 100%;
    /*height: 200px;*/
    top:0px;
    z-index: 100;
}
.cabecera-banner{
    background-image: url("../image/banner.webp"), url("../image/portadaheader.webp");
    background-size: contain,cover;
    background-repeat: no-repeat;
    background-position: center,right;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}

header img{
    height: 100px;
    transition: opacity 0.3s ease;
}
header img:hover{
    height: 100px;
    cursor: pointer;
}
nav{
    background: #222;
}

/*enlaces de nav*/
.enlaces{
    display: flex;
    justify-content: flex-end;
}

.enlaces ul{
    list-style: none;
    margin:0;
    padding: 0;
    display:flex;
}
.enlaces ul li a, .enlaces ul ul a{
 display:block;
 color:#fff;
 text-decoration:none;
 font-weight:400;
 font-size:15px;
 padding:10px;
 font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
 text-transform:uppercase;
 letter-spacing:1px;
 background: #5b5866;
 margin:0 5px;
 box-shadow: 3px 3px #6fa6d5;
 transition: 0.2s all ease-in;
    
}
.enlaces ul .cesta{
    order:4;
}
.enlaces ul li{
    position:relative;
    float:left;
    margin:0;
    padding:10px 0;
}
.enlaces >ul .volver{
    position: absolute;
    left: 0px;
}
.enlaces ul li:first-child a span{
    visibility: hidden;
    
}
.enlaces ul li:first-child a{
    background: #d9b639;
    box-shadow: 3px 3px #b1780c;
    /*color: black;*/
    
}
.enlaces ul li:first-child a:hover{
    background: #b1780c;
    box-shadow: none;
    
}
.enlaces ul li:first-child a:hover span{
    visibility: visible;
}
.enlaces ul li:hover a{
     /*background:red;*/
     background: #6fa6d5;
      box-shadow: none;
      outline:1px solid black;

}
.enlaces ul ul{
    display:none;
 position:absolute;
 top:100%;
 right: 0;
 background:#eee;
 padding:0;
}
.enlaces ul ul li{
    float:none;
    width: 150px;
}
.enlaces ul ul a{
    line-height: 120%;
    padding:10px 15px;
}
.enlaces ul li:hover > ul{
    display: block;
    background: none;
}
.enlaces ul li:hover > ul li a{
    background: #5b5866;
    font-size: 10px;
    margin:0 5px;
    box-shadow: 3px 3px #2e72ad;
    transition: 0.2s all ease-in;
}

.enlaces ul li:hover > ul li a:hover{
     background: #2e72ad;
      box-shadow: none;
      outline:1px solid black;
 }
 .enlaces .submenu .admin{
     background: yellow;
     color:black;
     transition: all 0.2s ease-in-out;
 }
 .enlaces .submenu .admin:hover{
     background: #5bede7;
     
 }
     
 .enlaces .nombre a{
    /*width: 200px;  Ancho fijo*/ 
    overflow: hidden;  
 }
 .enlaces .lista_deseos_enlace span, .enlaces .submenu li a span{
     visibility: hidden;
     float:right;
     
 }
 .enlaces .lista_deseos_enlace a:hover span, .enlaces .submenu li a:hover span{
     visibility: visible;
     
 }
.enlaces .submenu .lista_deseos_enlace a:hover{
    /*border:1px solid black;*/
    background: #d72343;
    /*color:black;*/
 }

 .enlaces .submenu .publicar a:hover{
     background: #6e1b5c;
 }
 
 
.enlaces ul li:hover > ul .btn_cerrar_sesion a{    
    background: #d79635;
    box-shadow: 3px 3px #9f0808;
    transition: 0.3s all ease-in-out;
}
.enlaces ul li:hover > ul .btn_cerrar_sesion:hover a{    
    background: #9f0808;
    box-shadow: 0px 0px #9f0808;
}

.accionesadmin  {
    justify-content: flex-start;
}
.enlaces .administrador li a:nth-child(1){
    background: #edeaea;
    color:#222121;
    box-shadow: 3px 3px #222121;
    
}
.enlaces .administrador li a:nth-child(1):hover{

    background: #222121;
    color:#edeaea;
    box-shadow: none;
}
.btn_administrador_pulsado{
    background: #222121 !important;
    color:#edeaea !important;
    box-shadow: none !important;
}

.autores_aviso:hover .aviso{
    background: yellow;
    color:black;
    transition: 0.5s all ease-in;
}
    


.aviso{
    padding: 5%;
    position: absolute;
    background: red;
    color: #eee;
    width: 10px;
    height: fit-content;
    border-radius: 100%;
    /* font-size: 1.25em; */
    /* width: 10px; */
    top: 0%;
    right: 0%;
    vertical-align: center;
    text-align: center;
    text-transform: uppercase;
}
/*-----   CABECERA +++ HEADER ++ -----*/
/*mensajes*/
.mensaje{
    
    border: 3px solid #7e9f4c;
    padding: 25px 50px;
    margin: 20px 100px;
    background: #d6f9a1;
    font-size: 1.3em;
    font-family: sans-serif;
    box-shadow: 5px 5px #136e13;
    color: #083008;
}

.publicarLibro{
    display: flex;
    flex-direction: column;
    border:1px solid burlywood;

}
.publicarLibro>div{
    margin:5px auto;
}
.publicarLibro textarea{
    width: 100%;
    
}

.publicarLibro .mensajePublicacion{
    display: none;
    text-align: center;
    border: 1px solid black;
    padding: 50px;
    background: #f5f5f5;
    margin: 10px 0px;
    box-shadow: 1px 1px 10px #555, -1px -1px 10px #555;
    transition: 0.5s all ease-in;
}

/*tabla lista deseos*/
.lista_deseos{
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    position: relative;
    font-family: OpensSans-Regular;
    font-size:18px;
    margin:10px 50px;
}
.lista_deseos thead tr{
    
    height: 60px;
    background: #36304a;
    color:white;
    font-style: italic;
} 
.lista_deseos tbody tr{
    font-family: OpenSans-Regular;
    font-size: 15px;
    color: #808080;
    line-height: 1.2;
    font-weight: unset;
    text-align: center;
    border-collapse: collapse;

}
.lista_deseos tbody tr{
    
    height: 80px;
    transition: 0.3s ease;
}
.lista_deseos tbody tr:nth-child(even){
    background-color: #f5f5f5;
}
.lista_deseos tbody tr:nth-child(odd){
    background-color: #c5efef;
}

.lista_deseos tbody tr:hover{
    color: #3c0909;
    background: #ebeb67;
    /*transform: scale(1.15);*/
    border: 1px solid black;
    
}
.lista_deseos tbody tr:hover td:last-child{
    text-align: left;

}
.listadeseoscontenedor,encabezado{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
/*icono lista de deseos FIN*/
.listadeseos:hover{
    background: #c54b60;
    border-radius: 20%;
    cursor:pointer;
    transform: scale(1.5);
    animation: agitar  ease 0.5s;
}
.listadeseos:hover{
    background: #c54b60;
    border-radius: 20%;
    cursor:pointer;
    transform: scale(1.5);
    animation: agitar  ease 0.5s;
}
.lista_deseos_tabla tbody tr td a{
    text-decoration: none;
    box-shadow: 2px 2px #b5d33d;
    background: #7f9b10;
    padding: 5px 10px;
    color: #ffffff;
    font-weight: bolder;
}
.lista_deseos_tabla tbody tr td a:hover{
    box-shadow: none;
    background: #b5d33d;
    cursor: pointer;
    outline:1px solid black;
}
/*calificaciones libros*/
.rating{
    width: 30px;
    height: 30px;
    border-radius: 40%;
    padding:5px;
    background: none;
}
.rating_valor{
   
    background-color: #FFC107 !important ;

}
.rating_base{
    background-color: aquamarine !important ;
    
}


.calificaciones  img{
    width: 20px;
    height: 20px;
    border-radius: 40%;
    padding:5px;
    margin:0 5px;
}
.calificaciones{
    border:1px solid black;
    width:fit-content;
    padding:1px 20px;
    margin-top:20px;
    background: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;    
}
.calificaciones h4{
    text-align: center;
}
.calificaciones img:hover{
    background-color: #FFC107;
    cursor:pointer;
    
}
.calificaciones  img{
    width: 20px;
    height: 20px;
    border-radius: 40%;
    padding:5px;
    background: none;
}
.calificaciones{
    border:1px solid black;
    width:fit-content;
    padding:5px 10px;
    margin-top:20px;
}
.calificaciones h4{
    text-align: center;
}
.calificaciones img:hover{
    background-color: #FFC107 !important;
    cursor:pointer;
    
}

.mensajecalificacion{
    display:flex;
    justify-content: center;
    color: gold;
    background: #000000;
    margin: 15px auto;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px gold;
}
.desaparecercalificacion{
   
    animation-name: desaparecermensaje;
    animation-duration: 1s;
    animation-timing-function: ease;
    display:flex;
    justify-content: center;
    color: gold;
    background: #000000;
    margin: 15px auto;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px gold;
}
@keyframes desaparecermensaje {
    from{
opacity:1;
        scale:100%;
    }
    to{ 
opacity:0.0;
        scale:0%;
    }
}
/*FIN calificacion libros*/
/*libros*/
.libros{
    display: grid;
    column-gap: 10px;
    row-gap: 50px;
    grid-template-columns: 1fr  1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    margin: 0 5%;
}

/*estilos libro*/
.libro{
    background-color: #e6f1f3;
    float: left;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
/*    width: 300px;*/
    text-align: center;
    overflow: hidden;
    align-items: center;
    text-decoration: none;
    
    
    
}
.libro a, .autor a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:5px 0px;
    padding:0px 30px;
    
}

.libro:hover{
    background-color: #9dc4cb;
    border:1px solid blue;
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.libro>*{
    margin:10px 0;
    text-decoration: none;
    color: black;
}
.libro .precio{
    padding:5px;
    margin: 0 auto;
    /*display: flex;*/
    border-radius: 5px;
    background: white;
    /*height: 30px;*/
    width: fit-content;
    border: 1px solid black;
}
.libro .precio span{
    font-size: 0.75em;
    margin:auto;
    text-align: center;
    vertical-align: middel;
}
/*animacion al mostrar libros basado en el video de https://www.youtube.com/watch?v=AbCYziNyjvk&t=175s&ab_channel=midudev*/
.libro{
    view-timeline-name:--animacionlibros;
    view-timeline-axis: block;
    
    animation-timeline:--animacionlibros;
    animation-name: mostrarlibros;
    animation-range:entry 10% cover 40%;
    animation-fill-mode: both;
}
@keyframes mostrarlibros{
    from{
opacity:0;
    scale:25%;
    }
    to{
opacity:1;
    scale:100%;
    }
}

/*libros------------------------------------------------------------------*/
.btn_carro{
   
    background: #ffad13;
    color:#2c2c44;
    font-family: 'Arial';
    text-decoration: none;
    padding:5px 0;
    text-align: center;
    box-shadow: 3px 3px yellow;
    transition: 0.5s all;
    font-weight: bolder;
   
}


 .btn_carro:hover{
    background: yellow;
    cursor:pointer;
    outline:1px solid black;
    box-shadow:none;
}

/* Contenedor principal */
.add-to-cart {
    width: 200px; /* Ancho del div */
    height: 50px; /* Alto del div */
    background-color: #4CAF50; /* Color de fondo */
    color: white; /* Color del texto */
    display: flex; /* Usar flexbox para centrar contenido */
    align-items: center; /* Centrado vertical */
    justify-content: center; /* Centrado horizontal */
    border-radius: 5px; /* Bordes redondeados */
    position: relative; /* Necesario para posicionar elementos dentro */
    overflow: hidden; /* Evitar desbordamiento */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el div */
    transition: background-color 0.3s ease; /* Transición de color */
    z-index: 1;
}

/* Estilo del texto inicial */
.cart-text {
    font-size: 16px;
    font-weight: bold;
    transition: opacity 0.3s ease; /* Transición de opacidad */
}

/* Estilo del icono del carrito */
.cart-icon {
    font-size: 24px; /* Tamaño del icono */
    opacity: 0; /* Ocultar inicialmente */
    transform: scale(0.5); /* Reducir tamaño inicial */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transición del tamaño y opacidad */
    position: absolute; /* Posicionarlo sobre el texto */
}

/* Efecto al pasar el ratón */
.add-to-cart:hover {
    background-color: #45a049; /* Cambiar el color de fondo */
}

.add-to-cart:hover .cart-text {
    opacity: 0; /* Ocultar el texto */
}

.add-to-cart:hover .cart-icon {
    opacity: 1; /* Mostrar el icono */
    transform: scale(1); /* Agrandar el icono */
}
/* portada*/
.libro img{
    width: 150px;
    height: 150px;
    transition: 0.3s all;
}
.libro img:hover {
    transform: scale(200%) translate(0px,20px);
    border-radius: 15px;
    outline:1px solid black;
    z-index: 99;
}



.paginacion{
    display: flex;
    flex-direction: row;
    /*margin: 0 auto;*/
    background: none;
    /*width: 100%;*/
    /*height: 50px;*/
    justify-content:  center;  
    margin:20px 0;
    
}
.paginacion nav{
    background: none;
    margin-bottom: 50px;
}
.paginacion nav a{
    font-weight: bold;
    text-decoration: none;
    background: white;
    color:black;
    margin: 0 5px;
    padding: 5px 10px;
    transition: all 0.3s;
    box-shadow: 3px 3px black;
}
.paginacion nav a:last-child{
    text-decoration: none;
    background: white;
    color:black;
    margin: 0 5px;
    padding: 5px 10px;
    transition: all 0.3s;
    box-shadow: -3px 3px black;
}
.paginacion nav span{
    background: #0f005a;
    color:white;
    margin: 0 5px;
    padding: 5px 10px;
    
}

.paginacion nav a:hover{
    cursor:pointer;
    background: black;
    color: white;
    box-shadow: none;

    outline: 1px solid black;
}

/*cesta_compra --> tabla*/
.cesta{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cesta h2{
    background: #222;
    color:#fff;
    width: 100%;
    text-align: center;
    padding:20px 0; 
}

.cesta h5{
    background: #222;
    color:#fff;
    width: 100%;
    text-align: center;
    padding:20px 0; 
}
.cesta_compra{
    width: 75%;
    margin: 0 auto;
    margin:25px auto;
}

.cesta_compra .accion a:hover{
    background: red;
    color:black;
    cursor: pointer;    
}
.cesta_compra .accion a{
    text-decoration: none;
    color:white;
    font-weight: bolder;    
    text-shadow: 1px 1px black;
   
    background: #f54848;
    padding: 5px;
       

}
.cesta_compra .cantidad{
    margin:0 auto;
    text-align: center;
}
.cesta_compra .signo{
    width: 5px;
    height: 5px;
    background: aquamarine;
/*    border:1px solid black;*/
    margin:0 10px;
    padding:3px 5px;
    font-weight: bolder;
    font-family: sans-serif;
    
}
.cesta_compra .cantidad  a{
    text-decoration: none;
    color:black;
}
.cesta_compra .accion{
    padding: 10px;
}
.cesta_compra  .signo:hover{
    color:white;
    cursor:pointer;
}
.cesta_compra  .menos:hover{
    background: red;
    
}
.cesta_compra .mas:hover{
    background: green;
    
}
.cesta_compra thead tr{
    padding:10px;
}
.cesta_compra thead tr th:first-child{
    text-align: left;
    margin-left: 15px;
}
.cesta_compra tbody tr td:first-child{
    width:25%;
}
.cesta_compra tbody tr td:nth-child(2+n){
    background: red;
}
.cesta_compra thead tr{
    outline: 1px solid black;
}
.cesta_compra tbody tr td{
       padding: 2%;
}
.cesta_compra tbody tr td:nth-child(n+2){
    
    text-align: center;
}
.cesta_compra tbody tr:nth-child(even){
    background: #dbd8d8;
    /*outline:1px solid black;*/ 
      /*line-height: 1px;*/
      border-bottom: 1px solid black;

}
.cesta_compra tbody tr:last-child{
    background: none;
    font-weight: bolder;
}
.cantidadtotal{
    padding:15px;
    background: greenyellow;
    
}
/*botones pedidos*/
.btns_pedido{
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin:0px 15px;
    width: fit-content;
    height: fit-content;
    background: none;
}
.btns_pedido a{
    text-decoration: none;
    font-family: 'Arial';
    font-weight: bolder;
    margin:0 20px;
    padding: 10px 20px;
    border-radius: 10px; 
    color:#eee;
   

    
}
.btns_pedido .btn_vaciar{
        background: #ad3131;
    transition: 0.2s all ease;
    border: 1px solid #c94848;
    box-shadow: 3px 0px #dd5d5d, 0px 3px #dd5d5d, -3px 0px #dd5d5d, 0px -3px #dd5d5d;
}
.btns_pedido .btn_vaciar:hover{
    cursor: pointer;
    background: #b71414;
    letter-spacing: 2px;
    
    
}

.btns_pedido .btn_realizar{
        background: #67c566;
    transition: 0.2s all ease;
    border: 1px solid #3e9720;
    box-shadow: 3px 0px #2b8d30, 0px 3px #2b8d30, -3px 0px #2b8d30, 0px -3px #2b8d30;
}
.btns_pedido .btn_realizar:hover{
    cursor: pointer;
    background: #138527;
    letter-spacing: 2px;
    outline: 4px solid #1e661e;
    
}
/*++++++++++++++++++++++++++++++++++cesta fin ++++++++++++++++++++++++++++++++++*/
.formularioBusqueda{
    display: flex;
    align-items: center;
}
.formularioBusqueda input{
    width: 100%; 
    padding:5px;
    margin:15px auto;
}
/*configuracion de mi perfil*/
.acciones_usuario
{
    border: 1px solid black;
    padding-bottom: 50px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;    
}
.acciones_usuario div{
      background: aquamarine;
    color:black;
    box-shadow: 3px 3px yellow;
    text-decoration: none;
    padding:5px 10px;
    margin:0 10px;
    transition: 0.5s all ease;
       
    
}

.acciones_usuario div:hover{
    background: yellow;
    color:black;
    box-shadow: 0px 0px yellow;
    text-decoration: none;
    padding:5px 10px;
    margin:0 10px;
    cursor: pointer;
    outline:1px solid black;
    animation: agitar  ease 0.5s;
    animation-iteration-count: 10;
    
}
.acciones_usuario div a{
    text-decoration: none;
    color:black
}
@keyframes agitar {
  0% {
transform: rotate(0deg)
}
  33% {
transform: rotate(25deg)
}
  66% {
transform: rotate(-25deg)
}
  100% {
transform: rotate(0deg)
}
}


/*formulario de edicion de usuario*/
.miperfil{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    
}
.miperfil ul{
    margin: 0 auto;
    list-style: none;
    padding:10px 5px;
}
.miperfil ul li{
    font-size: 1.5em;
    background: #f1e1e1;
    box-shadow: 3px 3px blanchedalmond;
        padding:10px 25px;
       margin:5px auto;

}
.miperfil .switch{
    
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
  margin:10px auto;

}

.miperfil .switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.miperfil .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 1;
}

.miperfil .slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 5px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.miperfil input:checked + .slider {
  background-color: #2196F3;
}

.miperfil input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.miperfil input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(35px);
}

/* Rounded sliders */
.miperfil .slider.round {
  border-radius: 34px;
}

.miperfil .slider.round:before {
  border-radius: 50%;
}
.miperfil h3{
    background: goldenrod;
}
.miperfil .switch span:first-child{
    z-index: 99;
}
.miperfil h3:hover{
    animation-name: desaparecer;
    animation-iteration-count: 1;
}
.hidden{
    display: none;
    animation-name: desaparecer;
    animation-iteration-count: 1;
    
}
@keyframes desaparecer {
  0% {
transform: scale(1)
}
  33% {
transform: scale(0.75)
}
  66% {
transform: scale(0.5)
}
  100% {
transform: scale(0)
}
}


/*formularios*/
form{
    margin:0 auto;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
     display: flex;
    flex-direction: column;
    background: #f6ff80;
}
form >div{
        margin-bottom: 20px;

}
form label{
    font-size: 0.9em;
    margin-bottom: 5px;
    color: #555555;
    display: block;
}
form textarea{
    font-family: 'Arial';
    width: 100%;
    
}
form input{
    
    width: 90%;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #f9f9f9;
    font-size: 1em;
    transition: border-color 0.3s;
}  
form input[type='submit'],.inputsubmit{
    background: #4a90e2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    width: 100%;
    transition: background 0.3s, transform 0.2s;
}
form input[type='submit']:hover,.inputsubmit:hover{
    background: #357abd;
    transform: translateY(-2px);
}

form legend{
        margin: 0 auto;
    font-size: 1.5em;
    font-family: cursive;
}
form input[type='checkbox']{
    width: 15px;
}

.registrarse{
    align-self: center;
    width:fit-content;
    background: #b9911b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

.registrarse:hover{
    background: #8d6c0c;
    transform: translateY(-2px);
}
.btn_eliminarusuario{
    background: #eb4f4f;
    text-align: center; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

.btn_eliminarusuario:hover{
    background: #951c1c;
    transform: translateY(-2px);
}
/*boton que muestra mis publicaciones*/


/* CSS */
.btn_mostrar_publicaciones {
    margin: 0 auto;
    text-decoration: none;
    color:black;
  font-size: 16px;
  font-weight: bolder;
  letter-spacing: 10px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  left: 25%;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
  z-index: 5;
}

.btn_mostrar_publicaciones:after {
  content: "";
  background-color: #4ddbd9;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.btn_mostrar_publicaciones:hover:after {
  top: 0px;
  left: 0px;
}

/*--------------------------------------------------------------    DETALLES DE LIBRO --------------------------------------------------------------*/
.contenedor-libro-detalle{
    
    display: grid;
    grid-template-areas: 
        "portada detalles"
        "comentarios comentarios";
    grid-template-columns: 1fr 2fr;
    gap:20px;
    max-width: 800px;
    margin:40px auto;
    padding: 20px;
    background: rgba(205, 205, 200, 0.8);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 70%;
    margin:0 auto;
   
}
.contenedor-libro-detalle .portada-libro{
    grid-area: portada;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.contenedor-libro-detalle .portada-libro .imagen{
    width:100%;
    max-width: 300px;
    height: fit-content;
    transition: 0.2s all ease-in-out;
    z-index: 99;
    text-align: center;
}

.contenedor-libro-detalle .portada-libro .imagen:hover{
    transform: scale(1.5) translate(0%,10%);
    
}
.contenedor-libro-detalle .libro-detalles{
    grid-area:detalles;
}

.contenedor-libro-detalle .libro-detalles .libro-titulo{
    font-size: 1.5em;
    font-weight: bold;
    margin:0 0 10px;
    color:#222;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contenedor-libro-detalle .libro-detalles .titulo{
    position: relative;
}
.contenedor-libro-detalle .libro-detalles .titulo .popup{
    position: absolute;
    top:10%;
    left: -5%;
}
.contenedor-libro-detalle .libro-detalles .libro-titulo span:nth-child(2){
    color:#f7f769;
    text-shadow:1px 1px 1px black;
}
.contenedor-libro-detalle .libro-detalles .libro-autor{
    font-size: 0.8em;
    font-weight: bold;
    margin:20px 0 20px;
    color:#0b0060;
    width: fit-content;
}
.contenedor-libro-detalle .libro-detalles .libro-autor a{
    text-decoration: none;
    font-size: 1.5em;
    color: #ffffff;
    background: #222;
    padding: 5px 20px;
    transition:0.2s all ease-in-out;
}

.contenedor-libro-detalle .libro-detalles .libro-autor a:hover{
    background: #eee;
    color:#222;
    cursor: pointer;
    outline:1px solid black;
}

.contenedor-libro-detalle .libro-detalles .libro-categoria{
    margin:20px auto;
}
.contenedor-libro-detalle .libro-detalles .libro-categoria a{
  color: #222;
  border: 2px solid #222;
  background: #eee;
  border-radius: 0px;
  padding: 5px 15px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #484848;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  text-decoration: none;
}
.contenedor-libro-detalle .libro-detalles .libro-categoria a:hover{
    box-shadow: inset 0 100px 0 0 #484848;
    color:#eee;
}


.contenedor-libro-detalle .libro-detalles .libro-descripcion{
    font-size: 1.12em;
    line-height: 1.5;
    color:#555;
    font-family: 'Helvetica', 'Arial', sans-serif;
    position: relative;
    overflow: hidden;
}
.contenedor-libro-detalle .libro-detalles  .btn_leermas{
    color: #222;
    margin-top: 3px;
    border-top: 1px dashed lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor-libro-detalle .libro-detalles  .btn_leermas span:hover{
    cursor: pointer;
}
.contenedor-libro-detalle .libro-detalles  .btn_leermas span:last-child{
    display:none;
}
.mostrar_todo{
    height: 500px;
}

.contenedor-libro-detalle .libro-detalles .portada-libro .libro-calificacion{
    margin:15px 0;
    font-size: 1em;
    color:#333;
    display: flex;
    flex-direction: row;
}
.contenedor-libro-detalle .libro-detalles .libro-acciones{
    
    display:flex;
    gap:10px;
    margin-top:10px;
}
.contenedor-libro-detalle .libro-comentarios{
    grid-area: comentarios;
    margin-top:5%;
    margin-bottom: 10%;

}
.contenedor-libro-detalle .libro-comentarios h2{
    font-size: 20px;
    margin-bottom: 20px;
    color:#333;
    text-align: center;
}
.contenedor-libro-detalle .libro-comentarios .comentario{
    padding:10px;
    /*border-radius: 4px;*/
    margin-bottom: 10px;
    background: rgba(231,231,231,0.9);
    box-shadow: 3px 3px #878787;
}
.contenedor-libro-detalle .libro-comentarios .comentarios{
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    padding: 5px;
    border-radius: 5px;
    background: rgba(215,230,237,0.9);
}

.contenedor-libro-detalle .libro-comentarios .comentario p{
    margin: 0;
    color: #555;
    line-height: 1.5;
    display: flex;
    justify-content: flex-start;
}
.contenedor-libro-detalle .libro-comentarios .comentario:hover{
    background: rgba(235 204 145 / 90%);
}
.contenedor-libro-detalle .libro-comentarios .comentario span{
        margin-left: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
}
.contenedor-libro-detalle .libro-comentarios .comentario span a{
    text-decoration: none;
    color:#fff;
    padding: 5px 10px;
    background: #eb4242;
    box-shadow: 2px 2px #700f0f;
    transition: 0.2s all;
    
}
.contenedor-libro-detalle .libro-comentarios .comentario span a:hover{
    
    background: #700f0f;
    box-shadow: none;
    cursor: pointer;
    
}
.contenedor-libro-detalle .libro-comentarios .comentario span a:last-child{
    text-decoration: none;
    color:#fff;
    padding: 5px 10px;
    background: #e3941a;
    box-shadow: 2px 2px #836618;
    transition: 0.2s all ease;
    
}
.contenedor-libro-detalle .libro-comentarios .comentario span a:last-child:hover{
    
    background: #836618;
    box-shadow: none;
    cursor: pointer;
    
}
.contenedor-libro-detalle .libro-comentarios form{
    margin: 5% auto;
}
.contenedor-libro-detalle .libro-comentarios form textarea{
    resize: none;
    padding:10px;
    font-size: 1.125;
    border:1px solid #ccc;
    border-radius: 4px;
    height: 80px;
    width: 100%;
    font-family: 'Arial',sans-serif;
    color: #333;
    margin:15px 0;
}

.contenedor-libro-detalle .portada-libro img{
    max-width: 150px;
    height: fit-content;
}

/*botones eliminar y editar libro*/
.accionesdetallelibro{
    margin:25px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;


}
.accionesdetallelibro a{
    margin:0 15px;
}
/* CSS */
.btn_edit {
    text-decoration: none;
    color:black;
  font-size: 16px;
  font-weight: bolder;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn_edit:hover,
.btn_edit:active {
  outline: 0;
}

.btn_edit:hover{
  background-color: transparent;
  cursor: pointer;
}

.btn_edit:before{
  background-color: #D5EDF6;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.btn_edit:hover:before {
  background-color: #6DCFF6;
  top: 0px;
  left: 0px;
}
.btn_eliminar
{
    text-decoration: none;
    color:black;
    font-size: 16px;
  font-weight: bolder;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.btn_eliminar:hover{
     background-color: #a90000;
     color:white;   
  cursor: pointer;
}
.btn_eliminar:hover:before {
  background-color: #6DCFF6;
  top: 0px;
  left: 0px;
}
.btn_eliminar:hover:before {
  background-color: #ebabab;
  top: 0px;
  left: 0px;
}
.btn_eliminar:before{
    background-color: #ebabab;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}


/*icono lista de deseos*/
.marcado{
    background: #c54b60;
    border-radius: 6px;
}


/* The actual popup */
.popup .popuptext {
    background: #555;
    padding: 10px 5px;
    border-radius: 6px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 1;
    bottom: 0px;
    left: 10px;
    visibility: hidden;
}


/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
/*  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;*/
}

/* Add animation (fade in the popup) */
/*@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}*/


/*--------------------------------------------------------------    DETALLES DE LIBRO FIN --------------------------------------------------------------*/

/*formulario de busqueda*/
.busqueda_libros{
    margin:1% 0;
}
.busqueda_libros form{
    background: none;
    padding:0;
    margin:0 auto;
}
.busqueda_libros form input{
    width: 100%;
}

.busqueda_autor form{
    padding: 5px 15px;
    background: none;
}
.busqueda_autor form input{
    width: 200px;
}

/*estilos para tablas*/
table{
    margin: 40px auto;
    max-width: 700px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-x: auto; /* Para manejar tablas en pantallas pequeñas */
    
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    text-align: left;
}
table thead tr{
    background: #222;
    color:#eee;
}
table thead td{
    
    background-color: #007bff;
    color: #fff;
    text-align: left;
    font-weight: bold;
}
table th,table td{
     padding: 12px 15px;
    border: 1px solid #ddd;
}
table tbody tr:nth-child(even) {
    background-color: #f3f3f3; /* Color alterno para las filas */

}
table  tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #007bff;
}

table tbody td {
    transition: all 0.3s ease;
}
table .accionesadmin{
    display: flex;
    flex-direction: column;
}
table .accionesadmin a{
    max-width: 100px;
    width:100px;
    text-align: center;
    color:white;
    text-decoration: none;
    padding:5px 10px;
    background: #06f;
    box-shadow: 2px 2px #3385ff;
    margin:3px auto;
    transition: 0.2s all;
}
table .accionesadmin a:hover{
    box-shadow: none;
    background: #3385ff;
    cursor: pointer;
    outline:1px solid #222;
    transform: translate(1px,-2px);
}

table .accionesadmin a:nth-child(2){
    box-shadow: 2px 2px #48cb7f;
    background: #27ae60;
}
table .accionesadmin a:nth-child(3){
    box-shadow: 2px 2px #f58a4e;
    background: #ff7426 ;
}
table .accionesadmin a:nth-child(4){
    box-shadow: 2px 2px #c71820;
    background: #e1585e ;
}
table .accionesadmin a:nth-child(2):hover{
    box-shadow: none;
    background: #48cb7f;
    cursor: pointer;
}
table .accionesadmin a:nth-child(3):hover{
    box-shadow: none;
    background: #f58a4e;
    cursor: pointer;
}
table .accionesadmin a:nth-child(4):hover{
    box-shadow: none;
    background: #c71820 ;
    cursor: pointer;
}
/*estilos para tablas FIN*/

/*estilos de ADMINISTRADOR*/
.cabecera_administracion{
    background: #bfbfbf;
    padding-left: 15%;
    padding: 25px;
    box-shadow: 35px 5px #222;
    text-shadow: 3px 1px 2px #000000;
    color: white;
}
form .botones_formulario{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:10px 0;
    
}
form .botones_formulario a{
    text-decoration: none;
    padding: 5px 15px;
    width: 100px;
    background: #4a90e2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    transition: 0.1s all;   
    
    
    
}
form .botones_formulario a:first-child{
   background:#e52f36;
}
form .botones_formulario a:first-child span:nth-child(2){
    display: none;
}
form .botones_formulario a:first-child:hover{
   background:#cd2127;
   transform: translate(0px,-5px);
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
form .botones_formulario a:first-child:hover span:nth-child(2){
    display: block;
}
form .botones_formulario a:first-child:hover span:nth-child(1){
    display: none;
}
form .botones_formulario a:first-child:active{
    background: red;
}
form .botones_formulario a:last-child{
    background:#106834;
}
form .botones_formulario a:last-child:hover{
    
   transform: translate(0px,-5px);
    background:#05381a;
}

/*formulario busqueda pedidos*/
.form_busqueda_pedidos_admin form{
    background: none;
    box-shadow: none;
}
/*formulario busqueda pedidos FIN*/

/*------------------------------------ estilos de interacciones ------------------------------------*/

.interacciones{
    margin-top: 50px;
    padding:0px;
    position:relative;
}
.interacciones .btn_interacciones{
    position: absolute;
    top: 1%;
    left: 30%;
}
.interacciones .btn_interacciones span{
    padding: 5px 20px;
    background: #222;
    color:#EEE;
    border-bottom:white 1px solid;
    box-shadow: -3px -3px #EEE;
    transition: 0.1s all ease-out;
    
}
.interacciones .btn_interacciones span:hover{
    border-bottom:black 1px solid;
    cursor: pointer;
    background: #8fb6ff;
    color:#222;
    box-shadow: none;
    outline: 1px solid #222;

}
.interacciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn_pulsado{
    
    font-size: 2em;
    border-bottom:black 1px solid !important;
    cursor: pointer !important;
    background: #DDD !important;
    color:#222 !important;
    box-shadow: none !important;
    outline: 1px solid #222 !important;
        
}
.ocultar_tabla{
    display: none;
}

/*-----------------------------estilos de interacciones FIN ------------------------------------*/


/*Estilos para ver los pedidos por parte del administrador*/  


table tbody .fila_detalles {
    background: #222;
}
table tbody .fila_detalles td {
    background: #222; 
    display:none;
    transition: 5s display ease;

}
table .fila_detalles .detalles_compra_libros ul{
    list-style: none;
    
}
table .fila_detalles .detalles_compra_libros ul li a{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin-left: 50px;
    color:#eee;
    margin-top: 5px;
    border:1px solid white;
    padding:5px 10px;
    transition: all 0.2s ease;
    /*background: #222;*/
}
table .fila_detalles .detalles_compra_libros ul li a:hover{
    cursor: pointer;
    color:#1e1e20;
    background: #e7d2d2;
    font-style: italic;
}

table tbody tr td .accionesadmin .verdetallespedidos{
    background: #a35289;
    color: white;
    padding: 5px 10px;
    width: fit-content;
    text-align: center;
    box-shadow: 2px 2px #bb88aa;
    transition: all 0.2s ease;
}
table tbody tr td .accionesadmin .verdetallespedidos:hover{
    background: #bb88aa;
    color: white;
    box-shadow: none;
    outline:1px solid black;    
    
}

.vermasdetalles{
    display: table-cell !important;
    /*transition: 2s display ease;*/
    animation-name: motrarfila;
    animation-duration: 2s;
    animation-timing-function: ease;
}

@keyframes motrarfila{
    from{
opacity:10%;
transform:scale(10%);
display:none;
}
    to{
opacity:100%;
transform:scale(100%);
display:table-cell !important;
}
}
table tbody .detalles_compra_libros h6{
    color:white;
}
/*Estilos para ver los pedidos por parte del administrador  FIN*/



/*busqueda libros admin*/ 
.form_busqueda_libro_admin form{
    background: none !important;
    box-shadow: none;
    margin:0 auto;
    margin-bottom: 0px;
}
/*busqueda libros admin FIN*/ 
/*estilos de ADMINISTRADOR FIN*/

/*form publicar libro archivos -----------------------------------------------------------------*/

 form .otroautor, form .otracategoria{
    background:  #222;
    color:white;
    padding: 10px 5px;
    border: none;
    border-radius: 5px;

    /* visibility: hidden; */
    display: none;
}
form .otroautor h6, form .otracategoria h6{
    margin:1px auto;

}

form input[type='submit']:hover{
    background: #0e0ebb;
    color:#ffffff;
    cursor: pointer;
    transform: translate(0px,-5px);

}
.mostrar{
    display: flex !important;
    flex-direction: column;
    animation: show 1s ease;
}
@keyframes show {
    from{
transform: scale(1) translate(1500px,0px);
}
    to{
transform: scale(100%) translate(0px,0px);
}

}

.archivos_portada>label{
    padding: 5px 10px;
    background: black;
    box-shadow: 3px 3px #7d9de3;
    color:#7d9de3;
    width: fit-content;
    transition: 0.8s all ease;
    margin:0px 10px;
}
.archivos_portada>label:hover{
    cursor: pointer;
    background: #7d9de3;
    color:black;
    box-shadow: none;
    outline:1px solid black;

}
.archivos_archivo>label{
    padding: 5px 10px;
    background: black;
    box-shadow: 3px 3px #e95e1d;
    color:#e95e1d;
    width: fit-content;
    transition: 0.5s all ease;
        margin:0px 10px;

}
.archivos_archivo>label:hover{
    cursor: pointer;
    background: #e95e1d;
    color:black;
    box-shadow: none;
    outline:1px solid black;
}
.archivos_portada>div,.archivos_archivo>div{
    border-radius: 10px;
    background: #fdfdfd;
    margin: 5px;
    border: 3px dotted rgb(70 69 69 / 50%);
    padding: 50px 100px;
    display: none;
    height: 100px;
}
.archivo_drag{
    background-color: #606060 !important;
    color:#fff!important;
}
.archivos_portada>div>button,.archivos_archivo>div>button{
    padding: 5px 20px;
    background-color: #ffff8a;
    color:#222;
    border: none;
    width: fit-content;
    box-shadow: 3px 3px #095c5c;
}
.archivos_portada>div>button:hover,.archivos_archivo>div>button:hover{
    background-color: #095c5c;
    color:#222;
    cursor: pointer;
    color:white;
    box-shadow:none;
}
.mostrar_archivos{
    display: flex !important;
    flex-direction: column;
    animation: files 0.5s ease;
}
.archivo_subido{
    background: #a4f79f !important;
    border: 3px dotted rgb(22 96 0 / 50%) !important;
}
.archivos_portada>div ul li,.archivos_archivo>div ul li{
    list-style: none;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    border: 2px solid;
}
.eliminarArchivo{
    padding: 5px;
    background: #db5656;
    font-weight: bolder;
    transition: 0.5s all ease;
    
}
.eliminarArchivo:hover{
    cursor:pointer;
    background: #760000;
    color: #ff0202;
    
}
@keyframes files {
    from{
        transform: scale(1);
        opacity: 0.5 ;
    }
    to{
        transform: scale(100%) ;
        opacity: 1;
    }


}
/*form publicar libro archivos FIN-----------------------------------------------------------------*/
/*estilos relacionados con autor*/

.crear_autor{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px auto;
    justify-content: space-between;
    align-items: center;
}
.crear_autor div{
    background: #222;
    color:#eee;
    padding:5px 10px;
    text-align: center;
    margin:10px auto;
    display: flex;
    flex-direction: column;
    gap:10px;
    
}
.crear_autor div a{
    background: white;
    box-shadow: none;
    color:#222;
    margin: 5px auto;
}
.crear_autor a{
    background: #4a90e2;
    color: #eee;
    box-shadow: 3px 3px #eee;
    text-decoration: none;
    padding: 1% 5%;
    transition:1s all ease;
}
.crear_autor a:hover{
    cursor: pointer;
    background: #eee;
    box-shadow:none;
    color: #007b89;
    outline: 1px solid #4a90e2;

}
/*----------------------------------------- detalles del autor -----------------------------------------*/
.contenedor-autor-detalles{
    display: grid;
    grid-template-areas: 
        "nombre  nombre"
        "foto descripcion"
        "fecha descripcion"
        "libros libros";

    gap:20px;
    max-width: 800px;
    margin:40px auto;
    padding: 20px;
    background: rgba(205, 205, 200, 0.8);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 70%;
    margin:0 auto;
}
.contenedor-autor-detalles .nombre-autor{
    grid-area: nombre;
    text-align: center;
}

.contenedor-autor-detalles .fecha-autor{
    border-top:1px solid #222;
    border-bottom: 1px solid #222;
    grid-area: fecha;
    margin: 5px auto;

}
.contenedor-autor-detalles .descripcion-autor{
    grid-area:descripcion;
}
.contenedor-autor-detalles .imagen-autor{
    grid-area:foto;
        transition: 1s all ease;

}
.contenedor-autor-detalles .imagen-autor:hover{
    transform: scale(2);
    
}
.contenedor-autor-detalles .libros-autor{
    grid-area: libros;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:5px;
}
.contenedor-autor-detalles .libros-autor h5 a{
    text-decoration: none;
    color:#222;
}

.contenedor-autor-detalles .nombre-autor a{
    text-decoration: none;
    color:#eee;
    background: #222;
    padding:5px 20px;
    font-size: 1.5em;
    font-weight: bolder;
    transition: 1s all ease;
    
}
    
.contenedor-autor-detalles .nombre-autor a:hover{
    outline: 1px solid black;
    cursor:pointer;
    background: none;
    color:#222;
    box-shadow: 3px 3px #222;
}

/* ----------------------------------------- detalles del autor FIN -----------------------------------------*/
/************************************************************* autores *************************************************************/

/*estilos libro*/
.autores{
     display: grid;
    column-gap: 10px;
    row-gap: 50px;
    grid-template-columns: 1fr  1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    flex-wrap: wrap;
}
.autor{
    background-color: #e6f1f3;
    float: left;
    /*width: 205px;*/
    /*height: 290px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
    align-items: anchor-center;
    text-decoration: none;
    
    
    
}
.autor a{
    width: 250px;
}
.autor:hover{
    background-color: #9dc4cb;
    border:1px solid blue;
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.autor>*{
    margin:10px 0;
    text-decoration: none;
    color: black;
}
.autor img{
    width: 100px;
    height: fit-content;
}

.autor{
    view-timeline-name:--animacionautores;
    view-timeline-axis: block;
    
    animation-timeline:--animacionautores;
    animation-name: mostrarautores;
    animation-range:entry 50% cover 40%;
    animation-fill-mode: both;
}
@keyframes mostrarautores{
    from{
opacity:0;
       transform: translateX(1500px);
    }
    to{
opacity:1;
       transform: translateX(0px);
    }
}
/************************************************************* autores FIN *************************************************************/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++EStadisticas administracio +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


.enlaces  .administrador li:hover > ul {
    display: inline-flex !important;
    position: absolute;
    width: fit-content;
    left: -100%;    
    
}
.estadisticas_admnistracion{
    display: flex;
    flex-direction: column;
    
}
.estadisticas_admnistracion_botones{
    padding: 0; /* Elimina el relleno predeterminado */
  margin: 0; /* Elimina el margen predeterminado */
  display: flex; /* Permite que los botones se dispongan horizontalmente */
  gap: 10px; /* Espacio entre botones */
}
.estadisticas_admnistracion_botones a{
    display: inline-block; /* Convierte el enlace en un elemento de bloque */
  padding: 10px 15px; /* Ajusta el relleno según tus preferencias */
  text-decoration: none; /* Elimina el subrayado del enlace */
  color: #fff; /* Color de texto oscuro */
  background-color: #f26419;
; /* Color de fondo gris claro */
  border: none; /* Elimina el borde */
  border-radius: 5px; /* Bordes redondeados */
  font-family: sans-serif; /* Fuente de letra simple */
  font-size: 14px; /* Tamaño de letra */
  transition: background-color 0.3s ease;
}
.estadisticas_admnistracion_botones a:hover{
    background-color: #e65100; 
}
.estadisticas_contenido
{
   
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++EStadisticas administracio FIN +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.administracion_contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main h2{
    text-align: center;
}


.tabla_estadisticas tbody tr td{
    text-align: center;
    
}



/*+++++++++++++++++++++++ ver pedidos usuario +++++++++++++++++++++++*/
.pedidosenlace
{
    margin:20px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.pedidosenlace ul{
    list-style: none;

}
.pedidosenlace ul li a{
    text-decoration: none;
    
    display: inline-block; /* Convierte el enlace en un elemento de bloque */
  padding: 10px 20px; /* Ajusta el relleno según tus preferencias */
  text-decoration: none; /* Elimina el subrayado del enlace */
  color: #fff; /* Color de texto blanco para mejor contraste */
/*  background-color: #f26419;  Color de fondo naranja cálido */
  background-image: linear-gradient(to right, #f26419, #ffb300, #4caf50);  
border: none; /* Elimina el borde */
  border-radius: 5px; /* Bordes redondeados */
  font-family: sans-serif; /* Fuente de letra simple */
  font-size: 16px; /* Tamaño de letra */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Transiciones suaves */
  position: relative; /* Necesario para la animación de brillo */
  overflow: hidden; /* Oculta el brillo que se desborda */
    transition: 0.5s all ease;
    
}

.pedidosenlace ul li a:hover{
     background-color: #e65100; /* Color de fondo naranja más oscuro al pasar el cursor */
  transform: scale(0.95);
      transition: 0.5s all ease;

}
.pedidosenlace ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.3), transparent); /* Brillo blanco */
  opacity: 0;
  transform: translateX(-100%); /* Inicialmente fuera de la vista */
  transition: opacity 0.3s ease, transform 0.4s ease; /* Transiciones para el brillo */
}

.pedidosenlace ul li a:hover::before {
  opacity: 1;
  transform: translateX(0%); 
}
.pedidosenlace ul li img{
    visibility: hidden;
    width: 100px;
    height: fit-content;
    border:1px solid black;
    border-radius: 10px;
    vertical-align: middle;
    margin-left: 25px;
        transition: 0.5s all ease;


}
.pedidosenlace ul li a:hover ~img{
    visibility: visible;
    
}
/*+++++++++++++++++++++++ ver pedidos usuario FIN +++++++++++++++++++++++*/ 
/*++++++++++++++++++++++++++++++++++++++++++++++ COOKIES ++++++++++++++++++++++++++++++++++++++++++++++*/
.cookies {
    position: fixed;
    bottom:  0%;
    left: 25%;
    width: fit-content;
    /*height: 10%;*/
    width: 50%;
    background-color: #222;
    color: #fff;
    padding: 50px 0px;
    text-align: center;
    z-index: 9999;
    margin-bottom: 50px;
}
.cookies form{
    background: none;
    color:none;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: none;

    /*margin:auto 10px;*/
}
.cookies p{
    padding:0 100px;
    
}
.cookies a{
  color:yellow;

}
/*++++++++++++++++++++++++++++++++++++++++++++++ COOKIES Fin ++++++++++++++++++++++++++++++++++++++++++++++*/