
.interacciones .cabecera{
    background: #222;
    
}
.interacciones{
    display: relative;
    margin-top: 50px;
    padding:0px;
    position:relative;
    
}
.interacciones .btn_interacciones{
    position: absolute;
    top: 0%;
    left: 30%;
    margin-bottom: 25px;
}
.interacciones .btn_interacciones span{
    padding: 5px 20px;
    background: #222;
    color:#EEE;
    border-bottom:white 1px solid;
    box-shadow: -3px -3px #EEE;
    transition: 0.1s all ease-out;
    
}
.interacciones .btn_interacciones span:hover{
    border-bottom:black 1px solid;
    cursor: pointer;
    background: #8fb6ff;
    color:#222;
    box-shadow: none;
    outline: 1px solid #222;

}
.btn_pulsado{
    
    font-size: 2em;
    border-bottom:black 1px solid !important;
    cursor: pointer !important;
    background: #DDD !important;
    color:#222 !important;
    box-shadow: none !important;
    outline: 1px solid #222 !important;
        
}
.ocultar_tabla{
    display: none;
}
.interacciones >div:nth-child(2+n){
    margin-bottom: 25px;
}
.cabecera-interaccion{
    text-align: center;
    background: #222;
    color:#eee;
    width: fit-content;
    padding:5px 15px;
    margin:0 auto;
}
