/*Estilos para calificación de libros por parte del usuario libros/detalle view(calificacion.index)*/

/*calificaciones libros*/
.rating{
    width: 30px;
    height: 30px;
    border-radius: 40%;
    padding:5px;
    background: none;
}
.rating_valor{
   
    background-color: #FFC107 !important ;

}
.rating_base{
    background-color: aquamarine !important ;
    
}


.calificaciones  img{
    width: 20px;
    height: 20px;
    border-radius: 40%;
    padding:5px;
    margin:0 5px;
}

.calificaciones h4{
    text-align: center;
}
.calificaciones img:hover{
    background-color: #FFC107;
    cursor:pointer;
    
}
.calificaciones  img{
    width: 20px;
    height: 20px;
    border-radius: 40%;
    padding:5px;
    background: none;
}
.calificaciones{
    border: 1px solid black;
    width: fit-content;
    padding: 2% 5px;
    margin-top: 20px;
    text-align: center;
    background-color: white;
}
.calificaciones h4{
    text-align: center;
}
.calificaciones img:hover{
    background-color: #FFC107 !important;
    cursor:pointer;
    
}

.mensajecalificacion{
    display:flex;
    justify-content: center;
    color: gold;
    background: #000000;
    margin: 15px auto;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px gold;
}
.desaparecercalificacion{
   
    animation-name: desaparecermensaje;
    animation-duration: 1s;
    animation-timing-function: ease;
    display:flex;
    justify-content: center;
    color: gold;
    background: #000000;
    margin: 15px auto;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px gold;
}
@keyframes desaparecermensaje {
    from{
opacity:1;
        scale:100%;
    }
    to{ 
opacity:0.0;
        scale:0%;
    }
}